$source-card-header-bg: #0b1755;
$source-card-body-bg: #3f4b89;
$source-card-footer-bg: #0b1755;
$source-card-btn-action-bg: #8282857f;
$source-card-btn-follow-bg: #ff0303ef;

$asset-card-header-bg: #1c1c1e;
$asset-card-title-bg: #828285af;
$asset-card-body-bg: #1c1c1e;
$asset-card-footer-bg: #1c1c1e;

$alert-folder-card-header-bg: #1c1c1e;
$alert-folder-card-title-bg: #828285af;
$alert-folder-card-body-bg: #1c1c1e;
$alert-folder-card-footer-bg: #1c1c1e;

$channel-card-header-bg: #1c1c1e;
$channel-card-title-bg: #828285af;
$channel-card-body-bg: #1c1c1e;
$channel-card-footer-bg: #1c1c1e;

$alertAsset-card-header-bg: #1c1c1e;
$alertAsset-card-title-bg: #828285af;
$alertAsset-card-body-bg: #1c1c1e;
$alertAsset-card-footer-bg: #1c1c1e;

$widget-card-header-bg: #0b1755;
$widget-card-body-bg: #0b1755;
$widget-card-footer-bg: #0b1755;

$newsAsset-card-header-bg: #1c1c1e;
$newsAsset-card-title-bg: #828285af;
$newsAsset-card-body-bg: #1c1c1e;
$newsAsset-card-footer-bg: #1c1c1e;
